.admin-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #002366;
  padding: 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbar-links a span {
  margin-left: 5px;
}

.navbar-links a:hover {
  background-color: #0044cc;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
}
