body{
  overflow-x: hidden;

  background-color: #373A40;
}

.manage-students {
  font-family: Arial, sans-serif;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #686D76;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left {
  flex: 1;
}

.navbar-left span{
  text-decoration: none;
  color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
}

.back-button {
  background: none;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-right: 30px;
}

.navbar-right a {
  text-decoration: none;
  color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
}

.navbar-right a:hover {
  color:#DC5F00;
}

.content {
  padding: 70px 20px 20px; 
}
.content h1{
  color: #eeeeee;
}

.main-content {
  display: flex;
  color: #eeeeee;
  justify-content: space-between;
}

.chart {
  width: 38%;
}

.chart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.total-students {
  width: 100%;
  background-color: #e6f7ff;
  padding: 20px;
  margin-top: 20px; 
  text-align: center; 
}

.total-students h2 {
  font-size: 24px; 
  margin-bottom: 10px;
}

.total-students p {
  font-size: 20px; 
  font-weight: bold; 
}
